.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.pb0 {
  padding-bottom: 0rem;
}

.mr8 {
  margin-right: 0.8rem;
}

.mr20 {
  margin-right: 2rem;
}

.mr42 {
  margin-right: 4.2rem;
}
.mr60 {
  margin-right: 6rem;
}

.mr79 {
  margin-right: 7.9rem;
}

.mr80 {
  margin-right: 8rem;
}
.mt-2 {
  margin-top: -0.2rem;
}
.mt-12 {
  margin-top: -1.2rem;
}

.mb0 {
  margin-bottom: 0rem;
}
.mb80 {
  margin-bottom: 8rem;
}

.lh12 {
  line-height: 1.2;
}

.lh14 {
  line-height: 1.4;
}

.lh15 {
  line-height: 1.5;
}
