.product-banner {
  margin: 0 auto;
  .product-banner-container {
    padding: 0 4.2rem;
    .product-banner-bgimg {
      width: 100%;
      height: 49.6rem;
      object-fit: cover;
      aspect-ratio: 940/496;
    }
  }
  .product-banner-img {
    box-sizing: border-box;
    padding: 0 4.2rem;
    margin-right: 4rem;
    justify-content: flex-end;
    margin-top: -45.6rem;

    img {
      height: 32.8rem;
    }
  }
}
.product-maincontainer {
  padding: 6rem 4.2rem;
  margin-top: 12.8rem;
  justify-content: space-between;
  .product-mainlist {
    max-width: 30rem;
    width: 31.9%;
    margin-right: 2rem;

    ul {
      li {
        box-sizing: border-box;
        max-width: 30rem;
        height: 6.5rem;
        padding: 1.6rem 0;
        text-align: center;
        border: 1px solid #eaf0ed;
      }
    }
  }
  .product-dessertlist {
    width: 62rem;
    justify-content: space-between;
    flex-wrap: wrap;

    .section2-item {
      margin-bottom: 2rem;

      .section2-overlap {
        height: 10.67rem;
        margin-bottom: -10.67rem;
        z-index: 1;
        padding: 0 2rem;
        justify-content: space-between;
        .overlap-text {
          box-sizing: border-box;
          writing-mode: vertical-lr;
          padding: 1rem;
          font-size: 1.6rem;
          font-family: "PingFang TC";
          letter-spacing: 4px;
        }
        .like-icon {
          margin-top: 2rem;
        }
      }
      .section2-img {
        img {
          aspect-ratio: 1/1.05;
          max-width: 30rem;
          height: 31.5rem;
          object-fit: cover;
        }
      }
      .section2-descr {
        .descr1 {
          box-sizing: border-box;
          padding: 1.4rem 0;
          width: 57.6%;
          text-align: center;
          border: 1px solid #eaf0ed;
        }
        .descr2 {
          box-sizing: border-box;
          padding: 1.4rem 0;
          width: 42.4%;
          text-align: center;
          border: 1px solid #eaf0ed;
        }
      }
      .add-cart {
        box-sizing: border-box;
        padding: 1.6rem 9rem;
        background-color: #eaf0ed;
      }
    }
  }
}
.product-dessertpage {
  padding: 1rem 4.2rem 6rem 4.2rem;
  justify-content: flex-end;
  .product-dessertpage-item {
    width: 6rem;
    height: 6rem;
    border: 1px solid #eaf0ed;
    justify-content: center;
    align-items: center;
  }
  .product-dessertpage-item2 {
    background-color: #3f5d45;
    color: #fff;
  }
  .product-dessertpage-item3 {
    color: #3f5d45;
  }
  .product-dessertpage-item4 {
    color: #3f5d45;
  }
}

// RWD
@media screen and (max-width: 1000px) {
  .product-maincontainer {
    flex-wrap: wrap;
    margin-top: 6.7rem;
    .product-mainlist {
      margin-right: 0;
      margin-bottom: 3rem;
      width: 100%;
      max-width: none;
      ul {
        li {
          max-width: none;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .product-maincontainer {
    margin-top: -3rem;
  }
  .product-banner {
    .product-banner-container {
      padding: 0;
      .product-banner-bgimg {
        height: 27.7rem;
        aspect-ratio: 375/277;
        object-position: right center;
      }
    }
    .product-banner-img {
      margin-top: -25rem;
      margin-right: 0;
      padding: 0 3rem;
      img {
        height: 21.8rem;
        content: url("../images/sm-想吃甜點是不需要理由的.svg");
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .product-maincontainer {
    .product-dessertlist {
      .section2-item {
        width: 100%;
        .section2-img {
          img {
            width: 100%;
            max-width: 100rem;
          }
        }
      }
    }
  }
}
